* {
  margin: 0;
  padding: 0;
}

body {
  background: #2b2b2b;
  color: white;
  transition: .5s;
}

body.active {
  background: #ffffff;
  color: black;
}

body a{
  color: white;
  transition: .5s;
}

body.active a {
  color: black;
}

body a:hover{
  color: white;
}

body.active a:hover {
  color: black;
}

ul {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-family: sans-serif;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

#nav {
  display: flex;
  align-items: center;
}

#menu {
  display: flex;
  list-style: none;
  gap: .8rem;
  padding: 0;
}

#menu a {
  display: block;
  padding: .5rem;
}

#menu a, #logo {
  border-bottom: transparent 2px solid;
  transition: .3s;
}

#menu a:hover, #logo:hover {
  border-bottom: aqua 2px solid;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    padding-left: 0px;
    height: 0;
    z-index: 1000;
    transition: .6s;
    visibility: hidden;
    overflow-y: hidden;
  }

  body #menu{
    background: #2b2b2b;
  }

  body.active #menu{
    background: #ffffff;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem .5rem;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
    transition: .3s
  }

  #menu a:hover {
    border-bottom: 2px solid aqua;
  }


  #btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #hamburguer {
    display: block;
    border-top: 2px solid black;
    width: 20px;
    transition: .2s;
  }

  #hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background: currentColor;
    transition: .3s;
    position: relative;
  }

  #nav.active #hamburguer {
    border-top: 2px solid transparent;
  }

  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    position: relative;
    top: -7px;
  }
}

#presentation {
  width: 40%;
  margin: 0 auto;
  padding-top: 10em;
  padding-bottom: 100vh;
}

#photo {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

#presentation p {
  text-align: justify;
}

#dark-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

#toggle {
  position: relative;
  display: block;
  width: 80px;
  height: 40px;
  border-radius: 40px;
  background: #222;
  transition: .5s;
  cursor: pointer;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, .1),
              inset 0 8px 20px rgba(0, 0, 0, .1),
              inset 0 4px -4px rgba(0, 0, 0, .1);
}

#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  transition: .5s;
  box-shadow: 0 8px 40px rgba(0, 0, 0, .5),
              inset 0 4px 4px rgba(255, 255, 255, .2),
              inset 0 4px -4px rgba(255, 255, 255, .2);
}

#toggle.active {
  background: rgb(206, 206, 206);
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, .1),
              inset 0 2px 8px rgba(0, 0, 0, .1),
              inset 0 4px -8px rgba(0, 0, 0, .1);
}

#toggle.active .indicator {
  left: 40px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 8px 40px rgba(0, 0, 0, .5),
              inset 0 4px 4px rgba(255, 255, 255, .2),
              inset 0 4px -4px rgba(255, 255, 255, .2);
}

#objective {
  padding-top: 2em;
  padding-left: 2em;
  padding-bottom: 100vh;
  display: block;
}

#skills {
  padding-top: 2em;
  padding-left: 2em;
  padding-bottom: 100vh;
  display: block;
}

.title {
  width: fit-content;
  margin-left: 10%;
  margin-top: 10%;
}

.underline {
  border-bottom: aqua solid 2px;
}

.list {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
}

#education {
  padding-top: 2em;
  padding-left: 2em;
  padding-bottom: 100vh;
  display: block;
}

#personalSynthesis {
  padding-top: 2em;
  padding-left: 2em;
  padding-bottom: 100vh;
  display: block;
}

@media only screen and (max-width: 800px) {
  #presentation {
    width: 65%;
  }

  .title {
    margin-left: 0;
  }
  
  .list {
    margin-left: 10%;
  }
}
